@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: #16213E;
   height: 100vh;
   font-family: 'Montserrat Alternates', sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
}

.content {
   @apply max-w-xs md:max-w-3xl;
}

.additional {
   transition: 0.82s ease-in-out;
}

.additional::after {
   content: '';
   @apply w-[92%] h-[2px] bg-[#00000022] absolute left-[50%] bottom-[112px] translate-x-[-50%];
}

.card:hover > .additional {
   @apply h-full;
}

@media screen and (max-width: 768px) {
   .message {
      content: 'message';
   }
}